<div class="flex flex-col h-full dark:bg-zinc-900 text-gray-600 dark:text-gray-50">
  <div class="flex flex-col flex-grow relative min-h-0">
    <div class="flex flex-col">
      <div class="flex">
        <ion-searchbar
          placeholder="搜尋攤位編號、名稱、作者或標籤..."
          show-clear-button="never"
          (click)="toSearch()"
          [value]="currSearchTerm()"
        ></ion-searchbar>
        <div class="flex items-center pr-1">
          <p-button
            icon="pi pi-user"
            [rounded]="true"
            [outlined]="true"
            (click)="userDrawer.show()"
          />
        </div>
      </div>

      <div class="relative">
        <p-speeddial
          [model]="items"
          direction="down"
          className="!items-start !pointer-events-none"
          [style]="{ position: 'absolute', left: '8px', top: 0, zIndex: 1 }"
        >
          <ng-template #button let-toggleCallback="toggleCallback">
            <p-button
              [rounded]="true"
              [outlined]="true"
              severity="secondary"
              class="text-sm bg-white/30 dark:text-gray-300 rounded-full backdrop-blur-sm"
              (click)="toggleCallback($event)"
            >
              攤位說明
            </p-button>
          </ng-template>
          <ng-template #item let-item let-toggleCallback="toggleCallback">
            <div
              class="flex items-center gap-1 py-1 px-2 rounded-full legend-item text-sm w-30 dark:text-gray-600"
            >
              <span [class]="'legend-box ' + item.styleClass"></span>
              <span class="stroke-text" [attr.data-stroke]="item.label">{{ item.label }}</span>
            </div>
          </ng-template>
        </p-speeddial>

        <div class="absolute z-1 top-0 right-1 flex items-center gap-2 text-sm">
          @if (isFiltering()) {
            <div
              class="flex items-center p-1 px-2 rounded-full bg-white/30 backdrop-blur-sm dark:text-gray-600"
            >
              套用搜尋中 共 {{ results()?.length }} 筆
            </div>
          }
          <p-button
            class="bg-white/30 rounded-full backdrop-blur-sm"
            [label]="isFiltering() ? `搜尋列表` : `攤位列表`"
            [rounded]="true"
            variant="outlined"
            (click)="resultList.show(); stallInfoDrawer.close(); markedListDrawer.close()"
          />
        </div>
      </div>
    </div>
    <app-map class="flex-grow min-h-0"></app-map>

    <div class="absolute flex top-full left-1 right-1">
      @if (expoTitle()) {
        <div
          class="stroke-text text-gray-600 font-bold -translate-y-full"
          [attr.data-stroke]="expoTitle() + ' 互動地圖'"
        >
          {{ expoTitle() }} 互動地圖
        </div>
      }
      @if (expoUrl()) {
        <div
          class="ml-auto flex flex-wrap justify-end items-end text-xs -translate-y-full gap-1 dark:text-gray-600"
        >
          @if (versionReady()) {
            <div class="pi pi-exclamation-triangle animate-bounce !text-xs text-amber-500">
              有新版本請重新整理頁面
            </div>
          }
          <div></div>
          <!-- 版權宣告 -->
          <div class="mr-2">
            © 2025 阿圖/
            <!-- 　｜　本作品由原作者 阿圖 非官方製作，現由「」正式授權使用。 -->
          </div>
          <div class="">資料來源</div>
          <button
            pButton
            text
            size="small"
            class="pointer-events-auto mb-[2px]"
            (click)="openUrl()"
          >
            官網
          </button>
        </div>
      }
    </div>
  </div>

  <div
    class="flex flex-row mt-auto justify-between h-12 shadow-[0_-1px_5px_rgba(0,0,0,0.1)] z-1"
    [ngClass]="{ hidden: !isLogin() && !multiSeriesExpo() }"
  >
    <button
      pButton
      class="block"
      [ngClass]="{
        hidden: !isLogin(),
        'w-1/2': isLogin() && multiSeriesExpo(),
        'w-full': isLogin() && !multiSeriesExpo(),
      }"
      (click)="markedListDrawer.show()"
    >
      書籤
    </button>

    @if (multiSeriesExpo()) {
      <button
        pButton
        class="block"
        [ngClass]="{ 'w-full': !isLogin(), 'w-1/2': isLogin() }"
        (click)="onlyAreaDrawer.show()"
      >
        場內 only
      </button>
    }
  </div>
</div>

<app-marked-list-drawer #markedListDrawer></app-marked-list-drawer>
<app-only-area-drawer #onlyAreaDrawer></app-only-area-drawer>
<app-stall-info-drawer #stallInfoDrawer>
  <app-edit-btn editBtn class="flex items-center"> </app-edit-btn>
</app-stall-info-drawer>
<app-search-result-list-sheet #resultList></app-search-result-list-sheet>
<app-user-drawer #userDrawer></app-user-drawer>
