<!-- 滑動刷新 -->
<div class="flex flex-col flex-grow relative min-h-0">
  <div
    class="absolute top-0 left-0 right-0 mx-auto flex flex-col items-center justify-center transition-auto size-[36px] z-1000 rounded rounded-full bg-gray-900 dark:bg-zinc-900"
    [style.transform]="'translateY(' + Math.min(pullDistance * 0.5, threshold * 0.5) + 'px)'"
    [style.opacity]="pullDistance / threshold"
    [ngClass]="{ hidden: pullDistance === 0 }"
  >
    <i
      class="pi pi-refresh text-white dark:text-gray-300 transition-transform"
      style="line-height: 1; transform-origin: center 55%; transition: transform 0.1s linear"
      [style.transform]="'rotate(' + Math.min(360, (pullDistance / threshold) * 360) + 'deg)'"
    ></i>
  </div>
</div>

<div class="flex flex-col h-full dark:bg-zinc-900 text-gray-600 dark:text-gray-50">
  <div class="flex flex-col flex-grow relative min-h-0">
    <!-- 搜尋與過濾器 -->
    <div
      class="flex flex-col transition-transform duration-200"
      (touchstart)="updateTouchStart($event)"
      (touchmove)="updateTouchMove($event)"
      (touchend)="updateTouchEnd($event)"
    >
      <div class="flex">
        <ion-searchbar
          placeholder="搜尋攤位編號、名稱、作者或標籤..."
          show-clear-button="never"
          (click)="toSearch()"
          [value]="currSearchTerm()"
        ></ion-searchbar>
        <div class="flex items-center pr-1">
          <button
            pButton
            icon="pi pi-user"
            rounded
            outlined
            class="dark:!text-gray-300"
            (click)="userDrawer.show()"
          ></button>
        </div>
      </div>

      <div class="relative">
        <p-speeddial
          [model]="items"
          direction="down"
          className="!items-start !pointer-events-none"
          [style]="{ position: 'absolute', left: '8px', top: 0, zIndex: 1 }"
        >
          <ng-template #button let-toggleCallback="toggleCallback">
            <button
              pButton
              rounded
              outlined
              size="small"
              severity="secondary"
              class="text-sm bg-white/30 dark:text-gray-300 rounded-full backdrop-blur-sm"
              (click)="toggleCallback($event)"
            >
              攤位說明
            </button>
          </ng-template>
          <ng-template #item let-item let-toggleCallback="toggleCallback">
            <div
              class="flex items-center gap-1 py-1 px-2 rounded-full legend-item text-sm w-30 dark:text-gray-600"
            >
              <span [class]="'legend-box ' + item.styleClass"></span>
              <span class="stroke-text" [attr.data-stroke]="item.label">{{ item.label }}</span>
            </div>
          </ng-template>
        </p-speeddial>

        <div class="absolute z-1 top-0 right-1 flex items-center gap-2 text-sm">
          @if (isFiltering()) {
            <div
              class="text-xs flex items-center p-1 px-2 rounded-full bg-white/10 backdrop-blur-sm dark:text-gray-300"
            >
              套用搜尋中 共 {{ results()?.length }} 筆
            </div>
          }
          <button
            pButton
            class="bg-white/30 rounded-full backdrop-blur-sm dark:text-gray-500!"
            [label]="isFiltering() ? `搜尋列表` : `攤位列表`"
            rounded
            outlined
            (click)="resultList.show(); stallInfoDrawer.close(); markedListDrawer.close()"
          ></button>
        </div>
      </div>
    </div>

    <!-- 地圖 -->
    <app-map class="flex-grow min-h-0"></app-map>

    <div class="absolute flex top-full left-1 right-1">
      @if (expoTitle()) {
        <div
          class="stroke-text text-gray-600 font-bold -translate-y-full"
          [attr.data-stroke]="expoTitle() + ' 互動地圖'"
        >
          {{ expoTitle() }} 互動地圖
        </div>
      }
      @if (expoUrl()) {
        <div
          class="ml-auto flex flex-wrap justify-end items-end text-xs -translate-y-full gap-1 dark:text-gray-600"
        >
          <div></div>
          <!-- 版權宣告 -->
          <div class="mr-2">
            © 2025 阿圖/
            <!-- 　｜　本作品由原作者 阿圖 非官方製作，現由「」正式授權使用。 -->
          </div>
          <div class="">資料來源</div>
          <button
            pButton
            text
            link
            size="small"
            class="pointer-events-auto !p-0 dark:!text-gray-500"
            (click)="openUrl()"
          >
            官網
          </button>
        </div>
      }
    </div>
  </div>

  <div
    class="flex flex-row mt-auto justify-between h-12 shadow-[0_-1px_5px_rgba(0,0,0,0.1)] z-1"
    [ngClass]="{ hidden: !isLogin() && !multiSeriesExpo() }"
  >
    <button
      pButton
      text
      class="block dark:!text-gray-300"
      [ngClass]="{
        hidden: !isLogin(),
        'w-1/2': isLogin() && multiSeriesExpo(),
        'w-full': isLogin() && !multiSeriesExpo(),
      }"
      (click)="markedListDrawer.show()"
    >
      書籤
    </button>

    @if (multiSeriesExpo()) {
      <button
        pButton
        class="block"
        [ngClass]="{ 'w-full': !isLogin(), 'w-1/2': isLogin() }"
        (click)="onlyAreaDrawer.show()"
      >
        場內 only
      </button>
    }
  </div>
</div>

<app-marked-list-drawer #markedListDrawer></app-marked-list-drawer>
<app-only-area-drawer #onlyAreaDrawer></app-only-area-drawer>
<app-stall-info-drawer #stallInfoDrawer>
  <app-edit-btn editBtn class="flex items-center"> </app-edit-btn>
</app-stall-info-drawer>
<app-search-result-list-sheet #resultList></app-search-result-list-sheet>
<app-user-drawer #userDrawer></app-user-drawer>
