<app-drawer-on-mobile
  [styleClass]="'stall-info-drawer'"
  [modal]="isPreview()"
  (onClose)="onClose()"
>
  <div title class="w-full flex">
    <div class="flex gap-1 items-center">
      <app-stall-zone-badge [stall]="stall()"></app-stall-zone-badge>
      <div class="mt-[2px]">{{ stall()?.stallTitle }}</div>
    </div>

    @if (stall()?.stallLink) {
      <button
        class="ml-1 mr-auto text-base flex items-center transition hover:scale-110 text-gray-400"
        (click)="!isPreview() && oenpLink()"
      >
        <mat-icon
          [inline]="true"
          aria-hidden="false"
          aria-label="Example link icon"
          fontIcon="open_in_new"
        ></mat-icon>
      </button>
    }

    @if (!isPreview() && isEditable()) {
      <ng-content select="[editBtn]"></ng-content>
    }
  </div>
  <app-stall-side-content
    (close)="close()"
    [isPreview]="isPreview()"
    [previewStall]="previewStall()"
  ></app-stall-side-content>
</app-drawer-on-mobile>
