<div
  class="flex gap-2 rounded-full border border-gray-300 py-1 px-4 bg-white/60 dark:bg-zinc-700/60 border border-solid border-gray-300 dark:border-zinc-700"
>
  <button
    class="flex transition hover:scale-110 rounded-full pr-3 items-center"
    (click)="popover.toggle($event)"
  >
    場內 Only
  </button>
</div>

<p-popover #popover>
  <div class="flex flex-col gap-2 max-w-sm">
    <div title class="flex items-center gap-2">
      <div class="text-base">顯示</div>
      <p-toggleswitch [size]="'small'" [(ngModel)]="checked" (change)="toggleLayer()" />
    </div>
    <div class="flex flex-wrap gap-2" animate.enter="fade-in" animate.leave="fade-out">
      @for (area of allAreas(); track area.areaId) {
        <div
          class="flex items-center border border-gray-200 rounded-full py-1 px-2"
          [ngClass]="{ 'cursor-pointer transition hover:scale-110': area.link }"
          [style.backgroundColor]="area.fillColor"
          [style.fontColor]="area.textColor"
          (click)="openUrl(area.link)"
        >
          <span class="text-sm text-gray-600">{{ area.areaName }} </span>
          @if (area.link) {
            <mat-icon
              inline
              aria-hidden="false"
              aria-label="open_in_new"
              fontIcon="open_in_new"
            ></mat-icon>
          }
        </div>
      }
    </div>
  </div>
</p-popover>
