<div
  #stallRef
  class=""
  [style.position]="absolutePosition() ? 'absolute' : 'unset'"
  [style.top]="absolutePosition() ? `${stall().coords.top}%` : ''"
  [style.left]="absolutePosition() ? `${stall().coords.left}%` : ''"
  [style.width]="absolutePosition() ? `${stall().coords.width}%` : '100%'"
  [style.height]="absolutePosition() ? `${stall().coords.height}%` : '100%'"
  [aria-label]="`Stall: ${stall().stallTitle}`"
>
  <div
    [style.--zone-color]="stall().rule.zoneColor"
    class="absolute stall-area w-full h-full left-1/2 -translate-x-1/2"
    [class.hidden]="hiddenIfGrouped() && isGroupedMember()"
    [class.invisible]="!showStallLayer()"
    [style.font-size]="fontSize()"
    [class.has-promo]="stall().hasPromo"
    [class.has-print-survey]="stall().hasPrintSurvey"
    [class.is-selected]="isSelected()"
    [class.is-search-match]="isMatch()"
    (click)="stallClicked()"
    [pTooltip]="stall().stallTitle"
  >
    {{ stall().padNum.toString() }}
  </div>
  <!-- <div class="w-full h-full">
    <svg class="w-full h-full" viewBox="0 0 24 24">
      <text
        x="50%"
        y="50%"
        font-size="16"
        text-anchor="middle"
        dominant-baseline="middle"
        fill="currentColor"
      >
        {{ stall().padNum.toString() }}
      </text>
    </svg>
  </div> -->

  <!-- bookmark -->
  @if (isLogin() && showMarkLayer() && allMarkedList()?.length && !isGroupedMember()) {
    @let markSet = markedListIdSet();
    <div
      class="absolute pointer-events-none z-[100] w-full flex justify-center"
      [ngClass]="{
        'bottom-full': stall().rule.bookmarkPosition === 'top',
        'top-full': stall().rule.bookmarkPosition === 'bottom',
        'left-1/2 -translate-x-1/2':
          stall().rule.bookmarkPosition === 'top' || stall().rule.bookmarkPosition === 'bottom',
        'left-[150%]': stall().rule.bookmarkPosition === 'right',
        'right-[150%]': stall().rule.bookmarkPosition === 'left',
        'top-1/2 -translate-y-1/2':
          stall().rule.bookmarkPosition === 'right' || stall().rule.bookmarkPosition === 'left',
        'flex-nowrap': shownList().length <= 2,
        'flex-wrap': shownList().length > 2,
      }"
      (click)="$event.stopPropagation()"
      (mouseover)="$event.stopPropagation()"
    >
      @for (item of allMarkedList(); track $index) {
        @if (item.show && markSet.has(item.id)) {
          <div class="flex items-center justify-center">
            <mat-icon
              inline
              aria-hidden="false"
              aria-label="marked icon"
              [style.color]="item.iconColor"
              [fontIcon]="item.icon || 'star'"
              [style.font-size]="shownList().length <= 2 ? fontSizeNum() + 'px' : iconSize()"
              [style.line-height]="shownList().length <= 2 ? fontSizeNum() + 'px' : iconSize()"
            ></mat-icon>
          </div>
        }
      }
      <!-- <svg
        class="w-full h-full"
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="currentColor"
      >
        <path
          d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"
        />
      </svg> -->
    </div>
  }
</div>
