<div
  #stallRef
  class=""
  [style.position]="absolutePosition() ? 'absolute' : 'unset'"
  [style.top]="absolutePosition() ? `${stall().coords.top}%` : ''"
  [style.left]="absolutePosition() ? `${stall().coords.left}%` : ''"
  [style.width]="absolutePosition() ? `${stall().coords.width}%` : '100%'"
  [style.height]="absolutePosition() ? `${stall().coords.height}%` : '100%'"
  [aria-label]="`Stall: ${stall().stallTitle}`"
>
  <div
    class="absolute stall-area w-full h-full"
    [class.hidden]="hiddenIfGrouped() && isGroupedMember()"
    [class.invisible]="!showStallLayer()"
    [style.font-size]="fontSize()"
    [class.has-promo]="stall().hasPromo"
    [class.is-selected]="isSelected()"
    [class.is-search-match]="isMatch()"
    (pointermove)="mousemove()"
    (click)="stallClicked()"
    (mouseover)="mouseover($event)"
    (mouseout)="mouseout($event)"
  >
    {{ stall().padNum.toString() }}
  </div>
  <!-- <div class="w-full h-full">
    <svg class="w-full h-full" viewBox="0 0 24 24">
      <text
        x="50%"
        y="50%"
        font-size="16"
        text-anchor="middle"
        dominant-baseline="middle"
        fill="currentColor"
      >
        {{ stall().padNum.toString() }}
      </text>
    </svg>
  </div> -->

  <!-- mark -->
  @if (isLogin() && showMarkLayer() && allMarkedList()?.length) {
    <div
      class="absolute top-full left-1/2 -translate-x-1/2 pointer-events-none z-[100] w-full flex flex-wrap justify-center"
      (click)="$event.stopPropagation()"
      (mouseover)="$event.stopPropagation()"
    >
      @for (item of allMarkedList(); track $index) {
        @if (item.show && isMarkedSet().has(item.id)) {
          <div class="flex items-center justify-center">
            <mat-icon
              inline
              aria-hidden="false"
              aria-label="marked icon"
              [style.color]="item.iconColor"
              [fontIcon]="item.icon || 'star'"
              [style.font-size]="iconSize()"
              [style.line-height]="iconSize()"
            ></mat-icon>
          </div>
        }
      }
      <!-- <svg
        class="w-full h-full"
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="currentColor"
      >
        <path
          d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"
        />
      </svg> -->
    </div>
  }
</div>
