<div class="h-full flex items-center justify-center overflow-hidden">
  @if (isInitialLoading() || !mapImgLoaded()) {
    <div
      class="absolute top-0 left-0 z-1 size-full flex items-center justify-center bg-gray-200/50"
    >
      <mat-icon
        class="animate-spin"
        aria-hidden="false"
        aria-label="auto renew"
        fontIcon="autorenew"
      ></mat-icon>
    </div>
  } @else if (isInitialError()) {}

  <div
    id="download-map-container"
    #mapContainer
    class="h-full w-full flex items-center justify-center overflow-hidden transition-transform duration-300"
    [class.transition-none]="!autoFocusing()"
    [style.transform]="`scale(${scale()})`"
    (wheel)="onWheel($event)"
  >
    <div
      #mapContent
      class="relative max-w-full max-h-full rounded-lg overflow-hidden select-none cursor-grab active:cursor-grabbing"
      [style.aspect-ratio]="imageAspectRatio()"
      cdkDrag
      (cdkDragStarted)="onDragStarted($event)"
      (cdkDragMoved)="onDragMoved($event)"
      (cdkDragEnded)="onDragEnded($event)"
      [cdkDragFreeDragPosition]="freePosition"
    >
      <img
        #mapImage
        class="w-full h-full object-contain pointer-events-none"
        [src]="mapImgSrc"
        alt="Background Map"
        (load)="onMapImageLoad($event)"
        (error)="onMapImageError()"
      />

      <!-- 攤位 -->
      <div class="">
        @for (stall of allStalls$ | async; track $index) {
          <app-stall [stall]="stall" [hiddenIfGrouped]="true" [absolutePosition]="true"></app-stall>
        }
      </div>

      <!-- group 攤位 -->
      <div class="">
        @for (zone of stallZoneDef(); track $index) {
          <app-stall-group-area [zone]="zone"></app-stall-group-area>
        }
      </div>

      <!-- 場內 only 區 -->
      <div class="pointer-events-none">
        @if (showAreas()) {
          @for (area of selectedAreas(); track $index) {
            <div class="absolute top-0 left-0 w-full h-full pointer-events-none">
              <svg [attr.viewBox]="`0 0 ${mapWidth()} ${mapHeight()}`" class="pointer-events-none">
                <!-- 動態繪製攤位的多邊形 -->
                <polygon
                  [attr.points]="area.polygonPoints"
                  [attr.fill]="area.fillColor"
                  [attr.opacity]="0.5"
                  [attr.stroke]="'gray'"
                  stroke-width="1"
                />
                <!-- 文字顯示在 polygon 中心 -->
                <text
                  [attr.fill]="area.textColor"
                  [attr.x]="area.textPointX"
                  [attr.y]="area.textPointY"
                  text-anchor="middle"
                  alignment-baseline="middle"
                  font-size="8"
                  style="pointer-events: none"
                >
                  {{ area.name }}
                </text>
              </svg>
            </div>
          }
        }
      </div>
    </div>
  </div>
</div>
