<app-base-map>
  <!-- 攤位樣式和互動 -->
  <app-stalls-canvas></app-stalls-canvas>
  <app-wishlist-layer></app-wishlist-layer>
  <app-search-layer></app-search-layer>
  <app-interactive-layer></app-interactive-layer>
  <app-bookmark-layer></app-bookmark-layer>

  <!-- group 攤位 -->
  <!-- <div class="">
    @for (zone of stallZoneDef(); track $index) {
      <app-stall-group-area [zone]="zone"></app-stall-group-area>
    }
  </div> -->

  <!-- 場內 only 區 -->
  <!-- <div class="pointer-events-none">
    @if (showAreas()) {
      @for (area of selectedAreas(); track $index) {
        <div
          class="absolute top-0 left-0 w-full h-full pointer-events-none"
          [ngClass]="{ 'hover:cursor-pointer': area.link }"
          (click)="openUrl(area.link)"
        >
          <svg [attr.viewBox]="`0 0 ${mapWidth()} ${mapHeight()}`" class="pointer-events-none"> -->
  <!-- 動態繪製攤位的多邊形 -->
  <!-- <polygon
              [attr.points]="area.polygonPoints"
              [attr.fill]="area.fillColor"
              [attr.opacity]="0.5"
              [attr.stroke]="'gray'"
              stroke-width="1"
            /> -->
  <!-- 文字顯示在 polygon 中心 -->
  <!-- <text
              [attr.fill]="area.textColor"
              [attr.x]="area.textPointX"
              [attr.y]="area.textPointY"
              text-anchor="middle"
              alignment-baseline="middle"
              font-size="8"
              style="pointer-events: none"
              [style.writingMode]="area.textLayout === 'VERTICAL' ? 'vertical-rl' : ''"
            >
              {{ area.name }}
            </text>
          </svg>
        </div>
      }
    }
  </div> -->

  <!-- <div class="">
    <div class="absolute" [style.top.%]="50" [style.left.%]="80">A</div>
    <div class="absolute" [style.top.%]="50" [style.left.%]="75">B</div>
    <div class="absolute" [style.top.%]="50" [style.left.%]="70">C</div>
  </div> -->
</app-base-map>
