<div class="flex">
  @if (isLoading()) {
    <div class="flex flex-col w-full gap-3">
      <p-skeleton class="!w-1/4" height="1.2rem"></p-skeleton>
      <p-skeleton class="!w-1/3" height="1.2rem"></p-skeleton>
      <p-skeleton class="!w-1/2" height="1.2rem"></p-skeleton>
    </div>
  } @else {
    <div class="flex flex-col px-2">
      @if (author) {
        <div class="flex gap-2 items-center">
          作者：
          <div>{{ author.authorName }}</div>
        </div>
        <div class="flex gap-2 items-center">
          SNS：
          @for (sns of author.sns; track sns) {
            @if (sns.href) {
              <a [href]="sns.href" target="_blank">{{ sns.title }}</a>
            }
          }
        </div>
      }
      @let items = author?.items ?? [];
      @if (items.length === 0 && stallId && authorName) {
        <p>沒有找到對應的品項</p>
      } @else {
        <table>
          <thead>
            <th>品項名稱</th>
            <th>CP/全員向</th>
            <th>類別</th>
            <th>價格</th>
            <th>備註</th>
            <th>宣傳</th>
          </thead>
          <tbody>
            @for (item of items; track item) {
              <tr>
                <td>
                  <div class="relative">
                    <div class="absolute top-2 left-0 flex flex-col flex-inline">
                      @if (item.newProduct) {
                        <p-tag
                          class="-rotate-30 -translate-y-2 -translate-x-6 !text-[0.6rem] !p-[0.25rem] leading-none"
                          severity="success"
                          [rounded]="true"
                          value="New"
                        />
                      }

                      @if (item.rated18) {
                        <p-tag
                          class="-rotate-30 -translate-y-2 -translate-x-6 !text-[0.6rem] !p-x-[0.25rem] leading-none"
                          severity="danger"
                          [rounded]="true"
                          value="R18"
                        />
                      }
                    </div>

                    <div class="flex justify-center">{{ item.itemName }}</div>
                  </div>
                </td>
                <td>
                  <div class="flex justify-center">{{ item.cp }}</div>
                </td>
                <td>
                  <div class="flex justify-center">{{ item.category }}</div>
                </td>
                <td>
                  <div class="flex justify-center">{{ item.price }}</div>
                </td>
                <td>
                  @if (item.note) {
                    <div class="flex justify-center">{{ item.note }}</div>
                  }
                </td>
                <td>
                  @if (item.promotional.href) {
                    <a [href]="item.promotional.href" target="_blank">{{
                      item.promotional.title
                    }}</a>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
      }
    </div>
  }
</div>
