<main>
  <div class="h-screen flex flex-col relative">
    <div class="flex-grow flex h-full">
      <div class="flex flex-col flex-grow h-full gap-2 p-4 max-w-[350px]">
        <div class="flex items-center justify-between">
          <div class="py-2 text-lg">走走走走走</div>
          <app-user></app-user>
        </div>
        <div class="flex items-center">
          <div class="">書籤列表</div>
          @if (!bookmarkRoutingOnly()) {
            <p-button
              class="ml-auto"
              icon="pi pi-home"
              size="small"
              pTooltip="返回攤位地圖"
              [rounded]="true"
              [text]="true"
              [routerLink]="['/']"
            >
            </p-button>
          }
        </div>
        <div class="flex grow flex-col gap-2 overflow-y-auto">
          @if (isLogin()) {
            <app-create-marked-list-btn> </app-create-marked-list-btn>
          }

          <div class="h-full overflow-y-auto">
            <app-bookmark-list> </app-bookmark-list>
          </div>
        </div>
      </div>

      <div class="flex-grow h-full text-gray-600 dark:text-gray-50">
        <app-base-map (onDragging)="onDragging = $event">
          <app-routing-layers></app-routing-layers>
          <app-bookmark-layer></app-bookmark-layer>
          <app-interactive-routing-layer></app-interactive-routing-layer>
          <app-interactive-layer [onDragging]="onDragging"></app-interactive-layer>
        </app-base-map>
      </div>
    </div>
    <div class="absolute z-1 bottom-0 w-full">
      <app-footer></app-footer>
    </div>
  </div>
</main>
