<div
  id="magnifier-wrapper"
  #magnifierWrapper
  [class.hidden]="hidden()"
  (mousedown)="onDragStart($event)"
  (mousemove)="onDragMove($event)"
  (mouseup)="onDragEnd()"
  (touchstart)="onTouchStart($event)"
  (touchmove)="onTouchMove($event)"
  (touchend)="onDragEnd()"
>
  <div
    id="magnifier"
    #magnifier
    [style.backgroundImage]="mapImageSrc()"
    [style.backgroundSize]="`${scaleMapImgW()}px ${scaleMapImgH()}px`"
  >
    <div id="magnifier-stall-layer" #magnifierStallLayer>
      @for (stall of allStalls$ | async; track $index) {
        <app-stall [stall]="stall" [absolutePosition]="true" [hiddenIfGrouped]="true"></app-stall>
      }
      @for (row of stallGridRefs; track $index) {
        <app-stall-group-area [row]="row"></app-stall-group-area>
      }
    </div>
  </div>
  <div [style.position]="'relative'" [style.height]="'100%'" [style.width.px]="0">
    <app-group-indicator></app-group-indicator>
  </div>

  <div id="magnifier-marker"></div>
</div>
