<div class="flex flex-col gap-2">
  <div class="flex w-full gap-1 items-center">
    <div class="flex-1">
      <app-input-search></app-input-search>
    </div>
    <app-result-list-btn></app-result-list-btn>
  </div>

  <div>
    <p-panel [toggleable]="true" [toggler]="'header'">
      <ng-template #header>
        <div class="flex gap-1 items-center">
          <span>搜尋：攤位標籤</span>
          <i
            class="pi pi-question-circle mt-[2px] text-gray-400"
            pTooltip="符合任一搜尋條件即可比對到"
            tooltipPosition="top"
          >
          </i>
        </div>
      </ng-template>
      @if (!tagFetchEnd()) {
        <mat-icon
          class="animate-spin"
          aria-hidden="false"
          aria-label="auto renew"
          fontIcon="autorenew"
        ></mat-icon>
      }
      @if (allSeries().length) {
        <div class="pr-1" [ngClass]="{ 'mt-2 pl-2 space-y-2': multiSeries() }">
          @for (series of allSeries(); track $index) {
            @if (multiSeries()) {
              <div class="flex items-center justify-between">
                <label class="flex items-center gap-x-2 cursor-pointer">
                  <input
                    type="checkbox"
                    (change)="toggleSeries(series.id)"
                    [checked]="isSeriesSelected(series.id)"
                    class="h-4 w-4 rounded accent-purple-500"
                  />
                  <span class="text-sm text-gray-600">{{ series.name }}</span>
                  @if (selectedAdvancedTagsCount()[series.id]) {
                    <span class="text-xs bg-purple-200 text-purple-800 rounded-full px-2 py-0.5">
                      {{ selectedAdvancedTagsCount()[series.id] }}
                    </span>
                  }
                </label>
                <button
                  (click)="openAdvancedFilterModal(series)"
                  class="text-gray-500 hover:text-gray-800"
                >
                  <mat-icon
                    [inline]="true"
                    aria-hidden="false"
                    aria-label="Example filter icon"
                    fontIcon="filter_alt"
                  ></mat-icon>
                </button>
              </div>
            } @else {
              @if (series.id === specifiedSeriesId()) {
                <app-advanced-series-tag [series]="series"></app-advanced-series-tag>
              }
            }
          }
        </div>
      }
    </p-panel>
  </div>
</div>
