#modal-vertical-stall-list {
  flex-direction: column;
  padding: 10px;
  gap: 8px;
  overflow-y: auto;
  flex-shrink: 0;
  background-color: #f0f0f0;
  border-right: 1px solid #ddd;
  height: 100%;
  width: 70px;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  display: flex;
}

#modal-vertical-stall-list::-webkit-scrollbar {
  width: 6px;
}
#modal-vertical-stall-list::-webkit-scrollbar-track {
  background: transparent;
}
#modal-vertical-stall-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
#modal-vertical-stall-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-vertical-stall-list .stall-area.is-grouped-member {
  display: flex;
}

.modal-vertical-stall-item {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  user-select: none;
  flex-shrink: 0;
  // background-color: rgba(255, 193, 7, 0.8);
  border: 1px solid transparent;
  // color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 0 2px white;
}
.modal-vertical-stall-item.has-promo {
  background-color: rgba(0, 123, 255, 0.8);
  color: rgba(0, 0, 0, 0.8);
}
.modal-vertical-stall-item.is-search-match {
  border: 2px solid #8a2be2;
  background-color: rgba(138, 43, 226, 0.7);
  z-index: 1;
  color: white;
  text-shadow:
    -1px -1px 0 #00000045,
    1px -1px 0 #00000045,
    -1px 1px 0 #00000045,
    1px 1px 0 #00000045;
}
.modal-vertical-stall-item.is-selected {
  background-color: rgba(255, 69, 0, 0.8);
  border: 2px solid var(--primary-color);
  color: white;
  text-shadow: none;
  z-index: 2;
  transform: scale(1.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.modal-vertical-stall-item:hover:not(.is-selected) {
  background-color: rgba(255, 69, 0, 0.8);
  border-color: var(--primary-color);
  color: white;
  text-shadow: none;
  transform: translateY(-1px);
}
.modal-vertical-stall-item.is-selected:hover {
  transform: scale(1.1) translateY(-1px);
}
