/* --- Stall Area Styles --- */
/* Base class for all interactive areas */
.stall-area {
  --stall-shadow-color: color-mix(in srgb, var(--zone-color) 80%, white);

  cursor: pointer;

  /* Styles for the stall number text */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  user-select: none;
  text-shadow: 0 0 2px white;

  border: 3px solid var(--zone-color);
  box-shadow: 3px 3px 0 var(--stall-shadow-color);
  background-color: var(--legend-default);
  padding: 5px 10px;
  transition: all 0.15s ease-in-out;
}

/* Default state for mobile-only group areas (hidden on desktop). */
/* .mobile-only-group {
  display: none;
} */

.stall-area.has-promo {
  background-color: rgb(var(--legend-promo) / 0.95); /* Blue tint for promo stalls */
  color: rgba(0, 0, 0, 0.8);
}

.stall-area.is-search-match {
  border-color: rgb(var(--legend-search)); /* A vibrant violet for high visibility */
  background-color: rgb(var(--legend-search) / 1); /* A light violet fill */
  color: white; /* Indigo, for readability on violet bg */
  text-shadow:
    -1px -1px 0 #00000045,
    1px -1px 0 #00000045,
    -1px 1px 0 #00000045,
    1px 1px 0 #00000045;
  font-weight: 400;
}

.stall-area:hover {
  text-shadow: none;
  transform: translate(-2px, -2px);
  box-shadow: 5px 5px 0px var(--stall-shadow-color);
}

.stall-area.is-selected {
  text-shadow: none;
  transform: translate(-2px, -2px);
  box-shadow: 4px 4px 0 var(--stall-shadow-color);

  background-color: rgb(var(--legend-selected));
  border-color: var(--primary-color);
  color: white;
}

/* Special styling for large, grouped areas, providing a neutral look distinct from regular stalls. */
.stall-group-area {
  font-size: 1rem;
  color: #666; /* Neutral dark gray text */
  background-color: rgb(var(--group-area) / 0.2); /* Very light gray, almost transparent */

  text-shadow:
    -1px -1px 0 #ffffff8a,
    1px -1px 0 #ffffff8a,
    -1px 1px 0 #ffffff8a,
    1px 1px 0 #ffffff8a; /* Override default from .stall-area */
}

/* Custom hover state for grouped areas, different from regular stalls. */
.stall-group-area:hover {
  background-color: rgb(var(--legend-hover)); /* Slightly darker gray */
  border-color: rgba(0, 0, 0, 0.2);
  color: #333;
}

/* --- Debug Styles --- */
.debug-border {
  display: none;
  position: absolute;
  border: 2px dashed rgba(255, 0, 0, 0.7);
  pointer-events: none;
  z-index: 100;
  box-sizing: border-box;
}

#map-container.debug-mode .debug-border {
  display: block;
}

.debug-border span {
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  padding: 1px 4px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
}
