<div class="flex gap-2 rounded-full border border-gray-300 py-1 px-4 bg-white/50 text-gray-600">
  <button
    class="flex transition hover:scale-110 rounded-full pr-3 items-center"
    (click)="toggle($event)"
  >
    <mat-icon>person</mat-icon>
    @if (isLogin()) {
      <span>{{ user()?.acc }}</span>
    } @else {
      <span>Hi</span>
    }
  </button>
  @if (isLogin()) {
    <mat-icon [inline]="true" class="self-center transition hover:scale-110" (click)="logout()">
      logout
    </mat-icon>
  }
</div>

<app-user-info-popover #userInfoPopover></app-user-info-popover>

<p-popover #loginPopover>
  <div class="flex flex-col gap-4 max-w-sm">
    <div class="flex gap-2 items-center">
      <div class="">使用者</div>
      <input #loginInput pInputText [(ngModel)]="acc" type="text" pSize="small" placeholder="" />
    </div>
    <div class="flex w-full items-center justify-end">
      <p-button label="新增" severity="secondary" size="small" variant="text" (click)="create()" />
      <p-button
        label="登入"
        size="small"
        variant="text"
        (click)="login()"
        [disabled]="acc.length === 0"
      />
    </div>
  </div>
</p-popover>
