<div mat-dialog-title class="modal-header">
  <h2 class="modal-title">{{ stall()?.id }}: {{ stall()?.stallTitle }}</h2>
  <button id="modal-close" aria-label="Close dialog" (click)="closeModal()">&times;</button>
</div>
<mat-dialog-content>
  <div class="modal-body" (click)="bodyClicked($event)">
    @if (!(hasPromoInfo$ | async)) {
      暫無宣傳資訊。
    } @else {
      @if (stall()?.stallImg) {
        <div
          class="relative w-full bg-center bg-cover bg-gray-100 rounded-xl overflow-hidden border border-gray-100"
          [style.background-image]="'url(' + stall()?.stallImg + ')'"
        >
          <!-- 毛玻璃遮罩 -->
          <div class="absolute inset-0 bg-white/30 backdrop-blur-md rounded-xl"></div>

          <!-- 圖片內容（保持清晰） -->
          <img
            [src]="stall()?.stallImg"
            [attr.data-key]="stall()?.stallImg"
            [alt]="'Official Promo Image: ' + stall()?.stallTitle"
            class="stall-promo-image aspect-video relative z-10 object-contain w-lg"
            [class.loaded]="imageLoaded()"
            loading="lazy"
            (load)="imageLoaded.set(true)"
          />
        </div>
      }
      @if (stall()?.stallImg && stall()?.hasPromo) {
        <hr class="promo-section-separator" />
      }
      @for (item of stall()?.promoData; track $index) {
        @if ($index > 0) {
          <div class="promo-entry-separator"></div>
        }
        <div class="promo-entry">
          <div class="modal-user-info">
            <img
              [src]="item.promoAvatar ? item.promoAvatar : defaultAvatar"
              [alt]="item.promoTitle"
              class="modal-avatar"
            />
            <span class="modal-username">{{ item.promoTitle }}</span>
          </div>
          <!-- TODO tag -->
          <div class="promo-html-content" [innerHTML]="item.promoHtml"></div>
        </div>
      }
    }
  </div>
  <div id="modal-footer">
    @for (link of promoLinks(); track $index) {
      <a [href]="link.href" class="footer-link" target="_blank" rel="noopener noreferrer">{{
        link.text
      }}</a>
    }
  </div>
</mat-dialog-content>
