<div
  class="absolute stall-area stall-group-area"
  [ngClass]="{
    'mobile-only-group': !zone().isGrouped,
  }"
  [class.is-search-match]="isMatch()"
  [style.top]="`${zone().groupDef.boundingBox.top}%`"
  [style.left]="`${zone().groupDef.boundingBox.left}%`"
  [style.width]="`${zone().groupDef.boundingBox.right - zone().groupDef.boundingBox.left}%`"
  [style.height]="`${zone().groupDef.boundingBox.bottom - zone().groupDef.boundingBox.top}%`"
  [aria-label]="`Row: ${zone().zoneId}`"
  (click)="stallGroupClicked(popover, $event, anchor)"
>
  {{ zone().zoneId }}
  <div #anchor class="absolute right-[-7px]" [style.top]="popoverAnchorTop()"></div>

  <app-bookmarks [zoneId]="zone().zoneId"></app-bookmarks>
</div>

<p-popover #popover (onShow)="onPopoverShow()">
  <div
    class="flex items-center gap-1"
    [class.flex-col]="direction() === 'bottom' || direction() === 'top'"
  >
    <div class="color-gray-600 text-base font-semibold">
      {{ zone().zoneId }}
    </div>
    <div
      class="stall-group-popover flex gap-1 pr-2 overflow-auto"
      [class.flex-col]="direction() === 'bottom' || direction() === 'top'"
      [class.flex-row-reverse]="direction() === 'right'"
      [class.flex-col-reverse]="direction() === 'bottom'"
      [ngClass]="{
        'h-[300px]': direction() === 'bottom' || direction() === 'top',
        'w-[300px]': direction() === 'left' || direction() === 'right',
        'h-[80px]': showMarkLayer() && (direction() === 'left' || direction() === 'right'),
        'w-[80px]': showMarkLayer() && (direction() === 'bottom' || direction() === 'top'),
      }"
    >
      @for (stall of stalls(); track $index) {
        <div
          class="relative stall-area size-7 !text-base rounded-sm"
          [class.has-promo]="stall.hasPromo"
          [class.is-selected]="stall.id === selectedId()"
          [class.is-search-match]="matchStallIds().has(stall.id)"
          (click)="stallClicked(stall)"
          [pTooltip]="stall.stallTitle"
        >
          {{ stall.padNum }}
          <app-bookmark [stall]="stall"></app-bookmark>
        </div>
      }
    </div>
  </div>
</p-popover>
