<div
  class="stall-area stall-group-area"
  [ngClass]="{
    'mobile-only-group': !zone().isGrouped,
  }"
  [class.is-search-match]="isMatch()"
  [style.top]="`${zone().groupDef.boundingBox.top}%`"
  [style.left]="`${zone().groupDef.boundingBox.left}%`"
  [style.width]="`${zone().groupDef.boundingBox.right - zone().groupDef.boundingBox.left}%`"
  [style.height]="`${zone().groupDef.boundingBox.bottom - zone().groupDef.boundingBox.top}%`"
  [aria-label]="`Row: ${zone().zoneId}`"
  (click)="stallGroupClicked()"
>
  {{ zone().zoneId }}
</div>
