<p-popover #markedListPopover appendTo="body" [dismissable]="dismissable()">
  <div class="flex flex-col gap-2 min-w-[150px]">
    <ng-content></ng-content>

    @if (!allMarkedList()?.length) {
      <div class="text-gray-400">尚未建立書籤</div>
    }
    @for (list of allMarkedList(); track $index) {
      <div class="flex items-center gap-2">
        <mat-icon inline [style.color]="list.iconColor" [fontIcon]="list.icon || 'star'"></mat-icon>
        <div class="mr-auto">{{ list.listName }}</div>
        @let id = this.stall()?.id;
        @if (list.isUpdating) {
          <button class="flex items-center text-gray-400" disabled>
            <mat-icon
              class="animate-spin"
              inline
              aria-hidden="false"
              aria-label="autorenew icon"
              fontIcon="autorenew"
            ></mat-icon>
          </button>
        } @else if (id && markedMapByStallId()?.get(id)?.has(list.id)) {
          <button
            class="flex items-center text-gray-400 transition hover:scale-110 hover:text-gray-700"
            (click)="removeFromMarkedList(list)"
          >
            <mat-icon
              inline
              aria-hidden="false"
              aria-label="remove icon"
              fontIcon="clear"
            ></mat-icon>
          </button>
        } @else {
          <button
            class="flex items-center text-gray-400 transition hover:scale-110 hover:text-gray-600"
            (click)="addToMarkedList(list)"
          >
            <mat-icon inline aria-hidden="false" aria-label="add icon" fontIcon="add"></mat-icon>
          </button>
        }
      </div>
    }
  </div>
</p-popover>
