<p-dialog
  class=""
  [(visible)]="visible"
  [modal]="true"
  [closable]="false"
  [draggable]="false"
  [style]="{ width: '80vw', maxWidth: '690px' }"
  [appendTo]="'body'"
  (onShow)="recalculate()"
  (onHide)="onHide()"
>
  <ng-template #header>
    <div class="flex w-full gap-3">
      <div class="flex flex-wrap">
        <div class="flex items-center text-lg">編輯攤位資訊：{{ selectedStallId() }}</div>
        @if (invalidHint().length) {
          <p-button
            icon="pi pi-exclamation-triangle"
            [rounded]="true"
            [text]="true"
            [label]="'欄位驗證提示'"
            severity="danger"
            (click)="validateForm(op, $event)"
          />
          <p-popover #op>
            <div class="flex flex-col gap-2">
              @for (msg of invalidHint(); track msg) {
                <div>{{ msg }}</div>
              }
            </div>
          </p-popover>
        }
      </div>

      <p-button
        class="ml-auto"
        label="預覽"
        size="small"
        variant="text"
        severity="secondary"
        (click)="preview()"
      />
    </div>
  </ng-template>
  <form [formGroup]="stallForm" class="flex flex-col w-full pt-2">
    <!-- 社團資訊 -->
    <div class="flex flex-wrap gap-3" [ngClass]="{ hidden: isStallLoading() }">
      <div class="flex flex-col gap-1 w-full md:w-1/2">
        <p-floatlabel variant="on">
          <input
            class="w-full"
            pInputText
            type="text"
            id="stallTitle"
            placeholder=""
            formControlName="stallTitle"
            autocomplete="off"
          />
          <label for="stallTitle">社團名稱</label>
        </p-floatlabel>
      </div>
      <div class="flex flex-col gap-1 w-full md:w-1/2">
        <p-floatlabel variant="on">
          <input
            class="w-full"
            pInputText
            type="text"
            id="stallLink"
            placeholder=""
            formControlName="stallLink"
            autocomplete="off"
          />
          <label for="stallLink">社團連結</label>
        </p-floatlabel>
      </div>
      <div class="flex flex-col gap-1 w-full">
        <p-floatlabel variant="on">
          <input
            class="w-full"
            pInputText
            type="text"
            id="stallImg"
            placeholder=""
            formControlName="stallImg"
            autocomplete="off"
          />
          <label for="stallImg">攤位圖</label>
        </p-floatlabel>
      </div>
    </div>
    <!-- 社團資訊 skeleton -->
    <div class="flex flex-col gap-2" [ngClass]="{ hidden: !isStallLoading() }">
      <p-skeleton class="!w-full md:w-1/2!" height="1.5rem" />
      <p-skeleton class="!w-full md:w-1/2!" height="1.5rem" />
      <p-skeleton class="!w-full" height="1.5rem" />
    </div>

    <p-divider />

    <!-- 宣傳車資訊 -->
    <div formArrayName="promos" class="flex flex-col" [ngClass]="{ hidden: isStallLoading() }">
      <div class="flex items-center justify-center pb-2">
        <div class="relative text-lg">宣傳車資訊</div>
        <p-button
          icon="pi pi-question-circle"
          size="small"
          [rounded]="true"
          [text]="true"
          (click)="openUrl()"
          pTooltip="如何複製現有的宣傳車"
          tooltipPosition="top"
        />
        <button
          pButton
          text
          label="新增"
          size="small"
          class="ml-auto dark:text-gray-300!"
          (click)="addPromo()"
        ></button>
      </div>
      <p-tabs #promoTabs [value]="0" scrollable (valueChange)="onPromoChange($event)">
        <p-tablist class="!sticky top-0 z-100 border-t-1 border-gray-100 dark:border-zinc-700">
          @for (tab of tabList(); track tab; let tabIndex = $index) {
            <p-tab [value]="tabIndex">
              <div class="flex gap-1 h-full">
                @if (tab.icon) {
                  <p-avatar [image]="tab.icon" shape="circle" />
                }
                <div class="flex items-center">
                  <div class="font-bold whitespace-nowrap flex items-center mx-2">
                    @if (tab.name) {
                      {{ tab.name }}
                    } @else {
                      宣傳車{{ tabIndex + 1 }}
                    }
                  </div>
                  @if (promoTabs.value() === tabIndex) {
                    <p-button
                      icon="pi pi-times"
                      [rounded]="true"
                      [text]="true"
                      size="small"
                      (click)="removePromo($event, tabIndex)"
                    />
                  }
                </div>
              </div>
            </p-tab>
          }
        </p-tablist>
        <p-tabpanels class="min-h-[calc(100dvh-465px)]">
          @for (promo of promos.controls; track promo; let promoIndex = $index) {
            <p-tabpanel [value]="promoIndex">
              <div [formGroupName]="promoIndex" class="flex flex-col gap-3 mt-4">
                <div class="flex flex-col gap-1 w-full md:w-1/2">
                  <p-floatlabel variant="on">
                    <input
                      class="w-full"
                      pInputText
                      type="text"
                      [id]="`${promoIndex}-name`"
                      formControlName="name"
                      autocomplete="off"
                    />
                    <label [for]="`${promoIndex}-name`">宣傳車名稱</label>
                  </p-floatlabel>
                </div>
                <div class="flex flex-col gap-1">
                  <p-floatlabel variant="on">
                    <input
                      class="w-full"
                      pInputText
                      type="text"
                      [id]="`${promoIndex}-icon`"
                      formControlName="icon"
                      autocomplete="off"
                    />
                    <label [for]="`${promoIndex}-icon`">icon 網址</label>
                  </p-floatlabel>
                </div>

                <!-- 標籤 -->
                <div class="flex flex-col gap-2">
                  <p-fieldset [toggleable]="true" legend="標籤" collapsed class="w-full">
                    @if (multiSeries()) {
                      <div>作品</div>
                    }
                    <div class="flex flex-wrap" formGroupName="seriesAndTags">
                      @for (series of seriesAndTags().keys(); track series) {
                        @if (multiSeries()) {
                          <div class="flex items-center gap-2 p-2 w-1/2 md:w-1/4">
                            <p-checkbox
                              [formControlName]="series.controlName"
                              [binary]="true"
                              [inputId]="series.seriesId.toString()"
                            />
                            <label
                              [for]="series.seriesId.toString()"
                              class="text-nowrap overflow-hidden text-ellipsis"
                            >
                              {{ series.seriesName }}
                            </label>
                            @if (seriesSeletedTagCnt()[promoIndex][series.controlName] > 0) {
                              <p-badge
                                [value]="seriesSeletedTagCnt()[promoIndex][series.controlName]"
                                badgeSize="small"
                                severity="info"
                              />
                            }
                            <button
                              (click)="openTags($event, op, drawer)"
                              class="text-gray-500 hover:text-gray-800 flex items-center"
                            >
                              <mat-icon
                                [inline]="true"
                                aria-hidden="false"
                                aria-label="Example filter icon"
                                fontIcon="filter_alt"
                              ></mat-icon>
                            </button>
                          </div>
                        } @else {
                          @if (series.seriesId === specifiedSeriesId()) {
                            @if (isMobile) {
                              <ng-container *ngTemplateOutlet="tags"></ng-container>
                            } @else {
                              <div class="flex flex-col gap-3 w-full">
                                @let groups = seriesAndTags().get(series);
                                @for (group of groups?.keys(); track $index) {
                                  <div class="grid grid-cols-5 gap-3 w-full">
                                    <div class="col-span-1 flex gap-1 w-25">
                                      <span class="text-nowrap">{{ group.groupName }}</span>

                                      @let tagsCnt = currPromoTagCnt();
                                      @if (
                                        tagsCnt &&
                                        tagsCnt[series.seriesId] &&
                                        tagsCnt[series.seriesId][group.groupId]
                                      ) {
                                        @let size = tagsCnt[series.seriesId][group.groupId].size;
                                        @if (!!size) {
                                          <p-badge [value]="size" badgeSize="small" />
                                        }
                                      }
                                    </div>
                                    <div class="col-span-4 flex grow flex-wrap gap-x-2 gap-y-3">
                                      @for (tag of groups?.get(group) ?? []; track tag.tagId) {
                                        <div class="inline-flex flex-nowrap gap-x-1">
                                          <p-checkbox
                                            [formControlName]="tag.controlName"
                                            [binary]="true"
                                            [inputId]="`${promoIndex}-${tag.controlName}`"
                                            (onChange)="updateCurrPromoTagCnt(promo)"
                                          />
                                          <label [for]="`${promoIndex}-${tag.controlName}`">
                                            {{ tag.tagName }}
                                          </label>
                                        </div>
                                      }
                                    </div>
                                  </div>
                                }
                              </div>
                            }
                          }
                        }

                        <!-- desktop 用 -->
                        <p-popover #op>
                          <div
                            class="flex flex-col min-w-[200px] w-[250px] md:w-[400px] min-h-[200px] h-[300px] overflow-y-auto edit-stall-tags"
                          >
                            <ng-container *ngTemplateOutlet="tags"></ng-container>
                          </div>
                        </p-popover>

                        <!-- mobile 用 -->
                        <app-drawer-on-mobile
                          #drawer
                          [modal]="true"
                          [styleClass]="'edit-stall-tags__mobile'"
                        >
                          <div title>{{ series.seriesName }}</div>
                          <ng-container *ngTemplateOutlet="tags"></ng-container>
                        </app-drawer-on-mobile>

                        <!-- 共用結構 -->
                        <ng-template #tags>
                          @let groups = seriesAndTags().get(series);
                          @for (group of groups?.keys(); track $index) {
                            <p-accordion>
                              <p-accordion-panel [value]="$index">
                                <p-accordion-header>
                                  <div class="flex gap-1">
                                    <span>{{ group.groupName }}</span>

                                    @let tagsCnt = currPromoTagCnt();
                                    @if (
                                      tagsCnt &&
                                      tagsCnt[series.seriesId] &&
                                      tagsCnt[series.seriesId][group.groupId]
                                    ) {
                                      @let size = tagsCnt[series.seriesId][group.groupId].size;
                                      @if (!!size) {
                                        <p-badge [value]="size" badgeSize="small" />
                                      }
                                    }
                                  </div>
                                </p-accordion-header>
                                <p-accordion-content>
                                  <div class="flex flex-wrap gap-x-2 gap-y-3">
                                    @for (tag of groups?.get(group) ?? []; track tag.tagId) {
                                      <div class="inline-flex flex-nowrap gap-x-1">
                                        <p-checkbox
                                          [formControlName]="tag.controlName"
                                          [binary]="true"
                                          [inputId]="`${promoIndex}-${tag.controlName}`"
                                          (onChange)="updateCurrPromoTagCnt(promo)"
                                        />
                                        <label [for]="`${promoIndex}-${tag.controlName}`">
                                          {{ tag.tagName }}
                                        </label>
                                      </div>
                                    }
                                  </div>
                                </p-accordion-content>
                              </p-accordion-panel>
                            </p-accordion>
                          }
                        </ng-template>
                      }
                    </div>
                    <div class="flex w-full gap-4 mt-3">
                      <label class="flex items-center text-nowrap w-6"> 自訂 </label>
                      <input
                        formControlName="customTags"
                        pSize="small"
                        class="flex-grow"
                        pInputText
                        type="text"
                        placeholder=""
                        autocomplete="off"
                      />
                    </div>
                  </p-fieldset>
                </div>

                <!-- 宣傳車 -->
                <div class="flex flex-col gap-1 mt-2">
                  <label>宣傳內容</label>
                  @if (afterEditorInit()) {
                    <ckeditor formControlName="html" [editor]="Editor" [config]="config">
                    </ckeditor>
                  }
                </div>

                <!-- 連結 -->
                <div class="flex flex-col gap-3" formArrayName="links">
                  <div class="flex justify-center">
                    <p-fieldset [toggleable]="true" legend="宣傳連結" collapsed class="w-full">
                      <div class="pt-3 flex flex-col gap-3 w-full">
                        @for (
                          link of getLinksForm(promoIndex).controls;
                          let linkIndex = $index;
                          track link
                        ) {
                          <div class="flex gap-3 w-full" [formGroupName]="linkIndex">
                            <div class="flex flex-col gap-1 w-1/2">
                              <p-floatlabel variant="on">
                                <input
                                  class="w-full"
                                  pInputText
                                  type="text"
                                  [id]="`${promoIndex}-href-${linkIndex}`"
                                  formControlName="href"
                                  autocomplete="off"
                                />
                                <label [for]="`${promoIndex}-href-${linkIndex}`">網址</label>
                              </p-floatlabel>
                            </div>
                            <div class="flex flex-col gap-1">
                              <p-floatlabel variant="on">
                                <input
                                  class="w-full"
                                  pInputText
                                  type="text"
                                  [id]="`${promoIndex}-text-${linkIndex}`"
                                  formControlName="text"
                                  autocomplete="off"
                                />
                                <label [for]="`${promoIndex}-text-${linkIndex}`">顯示文字</label>
                              </p-floatlabel>
                            </div>
                            <button
                              class="text-base transition hover:scale-110"
                              (click)="removeLink(promoIndex, linkIndex)"
                            >
                              <mat-icon [inline]="true">close</mat-icon>
                            </button>
                          </div>
                        }

                        <div class="flex justify-center items-center">
                          <button
                            class="text-sm transition hover:scale-105 flex"
                            (click)="addLink($event, promoIndex)"
                          >
                            <mat-icon
                              [inline]="true"
                              aria-hidden="false"
                              aria-label="auto add"
                              fontIcon="add"
                            ></mat-icon>
                            新增
                          </button>
                        </div>
                      </div>
                    </p-fieldset>
                  </div>
                </div>
              </div>
            </p-tabpanel>
          }
        </p-tabpanels>
      </p-tabs>
    </div>

    <!-- 宣傳車資訊 skeleton -->
    <div class="flex flex-col gap-2" [ngClass]="{ hidden: !isStallLoading() }">
      <div class="relative text-lg pb-2">宣傳車資訊</div>
      <p-skeleton class="!w-full md:w-1/2!" height="1.5rem" />
      <p-skeleton class="!w-full mb-4" height="1.5rem" />
      <p-skeleton width="100%" height="150px" />
    </div>
  </form>

  <ng-template #footer>
    <div class="flex gap-2">
      <button
        pButton
        text
        label="關閉"
        severity="secondary"
        size="small"
        class="dark:text-gray-500!"
        (click)="onClose()"
      ></button>
      @if (!prohibitEditing()) {
        <button
          pButton
          text
          size="small"
          class="dark:text-gray-300!"
          (click)="onTempSave()"
          [disabled]="isTempSaving() || isSaving() || isStallLoading() || !isAdmin()"
        >
          <div class="flex items-center gap-2">
            暫存
            @if (isTempSaving()) {
              <i class="pi pi-spin pi-spinner" style="font-size: 0.8rem"></i>
            }
          </div>
        </button>
        <button
          pButton
          text
          label="儲存並關閉"
          size="small"
          class="dark:text-gray-300!"
          (click)="onSave()"
          [disabled]="isTempSaving() || isSaving() || isStallLoading()"
        ></button>
      }
    </div>
  </ng-template>
</p-dialog>

@if (isMobile) {
  <app-stall-info-drawer [isPreview]="true" [previewStall]="previewStall"> </app-stall-info-drawer>
} @else {
  <p-dialog
    [(visible)]="previewVisible"
    [modal]="true"
    [closable]="false"
    [draggable]="false"
    [showHeader]="false"
    [style]="{ width: `${575 + 25}px`, overflow: 'hidden' }"
    [styleClass]="'preview-stall-dialog'"
    [appendTo]="'body'"
  >
    <div class="flex flex-col h-[calc(100vh-97px)]">
      <app-stall-side-header
        class=""
        [isPreview]="true"
        [previewStall]="previewStall"
        (close)="previewVisible = false"
      ></app-stall-side-header>

      <div class="flex-grow overflow-auto">
        <app-stall-side-content
          [isPreview]="true"
          [previewStall]="previewStall"
        ></app-stall-side-content>
      </div>
    </div>
  </p-dialog>
}
