<app-drawer-on-mobile>
  <div title class="flex items-center gap-2">
    <div class="text-lg">場內 only</div>
    <p-toggleswitch [(ngModel)]="checked" (change)="toggleLayer()" />
  </div>
  <div class="flex flex-col gap-2">
    @if (!areaFetchEnd()) {
      <mat-icon
        class="animate-spin"
        aria-hidden="false"
        aria-label="auto renew"
        fontIcon="autorenew"
      ></mat-icon>
    }
    @if (allAreas().length) {
      <div
        class="flex flex-wrap mt-2 space-y-2 pl-2"
        animate.enter="fade-in"
        animate.leave="fade-out"
      >
        @for (area of allAreas(); track area.areaId) {
          <p-chip
            class="border border-gray-200 !rounded-full"
            [ngClass]="{ 'cursor-pointer': area.link }"
            [style.backgroundColor]="area.fillColor"
            [style.fontColor]="area.textColor"
            (click)="openUrl(area.link)"
          >
            <!-- <input
                type="checkbox"
                [checked]="activeAreas().has(area.areaId)"
                (change)="toggleArea(area.areaId)"
                class="h-4 w-4 rounded accent-blue-500"
              /> -->
            <span class="text-sm text-gray-600">{{ area.areaName }} </span>
          </p-chip>
        }
      </div>
    }
  </div>
</app-drawer-on-mobile>
