<div class="h-[280px]">
  <form [formGroup]="userForm" class="flex flex-col w-full pt-2">
    <!-- 社團資訊 -->
    <div class="flex flex-wrap gap-3">
      <div class="flex flex-col gap-1 w-full">
        <p-floatlabel variant="on">
          <input
            class="w-full"
            pInputText
            type="text"
            id="acc"
            formControlName="acc"
            autocomplete="off"
          />
          <label for="acc">使用者帳號</label>
        </p-floatlabel>
      </div>
      <div class="flex gap-1 w-full">
        <p-checkbox
          #isStallOwnerRef
          formControlName="isStallOwner"
          [binary]="true"
          inputId="isStallOwner"
        />
        <label for="isStallOwner"> 是否有擺攤 </label>
      </div>

      <!-- 設定攤位代號 -->
      <div
        class="flex flex-col gap-1 w-full mt-2 transition-all duration-300"
        [ngClass]="{
          'opacity-0': !userForm.get('isStallOwner')?.value,
          'opacity-100': userForm.get('isStallOwner')?.value,
        }"
        [class.invisible]="!userForm.get('isStallOwner')?.value"
      >
        <app-stall-filter-input
          formControlName="stallId"
          (onSelect)="onFilterSelect($event)"
        ></app-stall-filter-input>

        <div class="flex gap-2 flex-wrap mt-2 h-[135px] overflow-auto">
          @for (stallId of selectedStallIds; track stallId) {
            <div>
              <p-chip
                class="border border-gray-200 !rounded-full"
                [label]="stallId"
                [removable]="true"
                (onRemove)="removeStallId($index)"
              />
            </div>
          }
        </div>
      </div>
    </div>
  </form>
</div>
<div class="flex w-full justify-end items-center pt-2">
  <p-button
    [label]="isEdit() ? '儲存' : '新增'"
    size="small"
    variant="text"
    (click)="onSubmit()"
    [disabled]="isSubmitting()"
  />
  <p-button label="關閉" severity="secondary" size="small" variant="text" (click)="onClose()" />
</div>
