<div class="flex pointer-events-none relative px-2 items-end">
  <div class="flex items-end gap-2 text-xs text-gray-600 dark:text-gray-300!">
    <div class="mb-[2px]">版本: v{{ appVersion }}</div>
  </div>

  <div class="absolute flex gap-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <div
      class="text-gray-600 font-bold text-lg stroke-text"
      [attr.data-stroke]="expoTitle() + ' 互動地圖'"
    >
      {{ expoTitle() }} 互動地圖
    </div>
  </div>

  <!-- 資料來源 -->
  <div class="ml-auto flex items-end text-xs text-gray-600 dark:text-gray-300! mb-1">
    <!-- 版權宣告 -->
    <div class="mr-2">
      © 2025 阿圖 /
      <!-- 　｜　本作品由原作者 阿圖 非官方製作，現由「」正式授權使用。 -->
    </div>

    <div class="">資料來源</div>
    <button
      pButton
      text
      link
      size="small"
      class="!pb-[2px] pointer-events-auto dark:text-gray-50!"
      (click)="openUrl(expoUrl())"
    >
      {{ expoTitle() }} 官網
    </button>

    <div class="">/ 問題回報</div>
    <div>
      <button
        class="!pb-0 mb-[-2px] pointer-events-auto"
        icon="pi pi-external-link"
        pButton
        [text]="true"
        [rounded]="true"
        link
        size="small"
        (click)="openUrl(reportUrl())"
      ></button>
    </div>
  </div>
</div>
