<div>
  <div class="recommendation-note">
    <p>為獲得較佳體驗，建議使用電腦瀏覽器並將視窗寬度調整至 1024px 以上。</p>
  </div>

  <div class="data-source">
    <h3 style="margin-bottom: 0px">資料來源</h3>
    <ul>
      <li>
        <a href="https://starstonetw.weebly.com/" target="_blank" rel="noopener noreferrer"
          >星石文創 NiCE 官網</a
        >
      </li>
    </ul>
  </div>

  <div style="margin-top: 0.5rem">
    <p style="margin-bottom: 0px">
      © 2025 阿圖　｜　本作品由原作者 阿圖 非官方製作，現由 NiCE 創·迴響 正式授權使用。
    </p>
  </div>
</div>
