<div class="space-y-4 max-h-96 overflow-y-auto mb-4">
  <div class="relative">
    <button
      class="absolute top-1 right-0 text-xs text-gray-400 flex items-center"
      (click)="clearTags(options()?.id, 'cp')"
    >
      清除全部
      <mat-icon
        [inline]="true"
        aria-hidden="false"
        aria-label="Example cancel icon"
        fontIcon="cancel"
        class="ml-1"
      ></mat-icon>
    </button>
    <h4 class="font-semibold text-md text-gray-700 mb-2 border-b pb-1">CP</h4>
    <div class="grid grid-cols-2 gap-2 mt-2">
      @for (tag of options()?.advanced?.cp; track tag.id) {
        <label class="flex items-center space-x-2 cursor-pointer text-sm">
          <input
            type="checkbox"
            [checked]="isAdvancedTagSelected(options()?.id, 'cp', tag.id)"
            (change)="toggleAdvancedTag(options()?.id, 'cp', tag.id)"
            class="h-4 w-4 rounded accent-purple-500"
          />
          <span>{{ tag.name }}</span>
        </label>
      }
    </div>
  </div>
  <div class="relative">
    <button
      class="absolute top-1 right-0 text-xs text-gray-400 flex items-center"
      (click)="clearTags(options()?.id, 'char')"
    >
      清除全部
      <mat-icon
        [inline]="true"
        aria-hidden="false"
        aria-label="Example cancel icon"
        fontIcon="cancel"
        class="ml-1"
      ></mat-icon>
    </button>
    <h4 class="font-semibold text-md text-gray-700 mb-2 border-b pb-1">角色</h4>
    <div class="grid grid-cols-2 gap-2 mt-2">
      @for (tag of options()?.advanced?.char; track tag.id) {
        <label class="flex items-center space-x-2 cursor-pointer text-sm">
          <input
            type="checkbox"
            [checked]="isAdvancedTagSelected(options()?.id, 'char', tag.id)"
            (change)="toggleAdvancedTag(options()?.id, 'char', tag.id)"
            class="h-4 w-4 rounded accent-purple-500"
          />
          <span>{{ tag.name }}</span>
        </label>
      }
    </div>
  </div>
</div>
