<div class="h-screen flex flex-col items-center justify-center">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="statusChange($event)">
    <mat-button-toggle value="end">結束編輯</mat-button-toggle>
    <mat-button-toggle value="point">Point</mat-button-toggle>
    <mat-button-toggle value="polygon">Polygon</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="h-full w-full flex items-center justify-center overflow-hidden">
    <div
      #mapContent
      class="relative max-w-full max-h-full rounded-lg overflow-hidden select-none"
      [style.aspect-ratio]="imageAspectRatio()"
      (pointerdown)="pointerDown($event)"
      (pointermove)="pointerMove($event)"
      (pointerup)="pointerUp($event)"
      (dblclick)="dblclick($event)"
    >
      <img
        #mapImage
        class="w-full h-full object-contain pointer-events-none"
        [src]="mapImgSrc()"
        alt="Neo iComic Echo Venue Map"
        (load)="onMapImageLoad($event)"
      />

      <div>
        <!-- 動態繪製的多邊形 -->
        <div class="absolute top-0 left-0 w-full h-full pointer-events-none">
          <svg [attr.viewBox]="`0 0 ${mapWidth()} ${mapHeight()}`" class="pointer-events-none">
            <polygon
              [attr.points]="drawingPolygonStr()"
              [attr.fill]="'gray'"
              [attr.opacity]="0.8"
              [attr.stroke]="'gray'"
              stroke-width="1"
            />
          </svg>
        </div>
        <!-- 繪製的多邊形 -->
        @for (polygon of polygons(); track $index) {
          <div class="absolute top-0 left-0 w-full h-full pointer-events-none">
            <svg [attr.viewBox]="`0 0 ${mapWidth()} ${mapHeight()}`" class="">
              <polygon
                [attr.points]="polygon.pointsStr"
                [attr.fill]="'gray'"
                [attr.opacity]="0.5"
                [attr.stroke]="'gray'"
                stroke-width="1"
              />
              <!-- 文字顯示在 polygon 中心 -->
              <text
                class=""
                [attr.fill]="'black'"
                [attr.stroke]="'#4e8154'"
                [attr.x]="polygon.textPointXY.x"
                [attr.y]="polygon.textPointXY.y"
                text-anchor="middle"
                alignment-baseline="middle"
                font-size="8"
                style="pointer-events: none"
              >
                {{ polygon.pointsRatioStr }}
              </text>
            </svg>
            <button
              class="absolute pointer-events-auto"
              [style.left.%]="polygon.textPointRatioXY.x"
              [style.top.%]="polygon.textPointRatioXY.y"
              (click)="copyText(polygon.pointsRatioStr, 'polygon')"
            >
              Copy
            </button>
          </div>
        }
      </div>

      <div>
        <!-- 繪製的點 -->
        @for (circle of circles(); track $index) {
          <div class="absolute top-0 left-0 w-full h-full pointer-events-none">
            <svg [attr.viewBox]="`0 0 ${mapWidth()} ${mapHeight()}`" class="">
              <circle
                [attr.cx]="circle.point.x"
                [attr.cy]="circle.point.y"
                [attr.fill]="'gray'"
                [attr.opacity]="0.5"
                [attr.stroke]="'gray'"
                stroke-width="1"
              />
              <!-- 文字顯示在 polygon 中心 -->
              <text
                class=""
                [attr.fill]="'black'"
                [attr.stroke]="'#4e8154'"
                [attr.x]="circle.point.x"
                [attr.y]="circle.point.y"
                text-anchor="middle"
                alignment-baseline="middle"
                font-size="8"
                style="pointer-events: none"
              >
                {{ circle.pointRatioStr }}
              </text>
            </svg>
            <button
              class="absolute pointer-events-auto"
              [style.left.px]="circle.point.x"
              [style.top.px]="circle.point.y"
              (click)="copyText(circle.pointRatioStr, 'point')"
            >
              Copy
            </button>
          </div>
        }
      </div>
    </div>
  </div>
</div>
