<div class="relative">
  <p-floatlabel variant="on">
    <input
      #stallIdInput
      class="w-full"
      pInputText
      type="text"
      id="stallId"
      placeholder="ex: 範01"
      autocomplete="off"
      [value]="value"
      [disabled]="disabled"
      (input)="onInput($event.target.value)"
      (blur)="onBlur()"
      (keydown)="onStallIdKeydown($event)"
    />
    <label for="stallId">設定攤位代號</label>
  </p-floatlabel>
  <!-- 推薦清單：自訂浮動清單 -->
  @if (filteredStalls.length) {
    <ul
      [ngStyle]="popupStyle"
      class=""
      style="
        position: fixed;
        z-index: 10000;
        background: white;
        border-radius: 0.5rem;
        box-shadow: 0 2px 8px #0002;
        border: 1px solid #eee;
        max-height: 10rem;
        overflow: auto;
      "
    >
      @for (item of filteredStalls; track item.id) {
        <li
          (mousedown)="addStallId(item)"
          style="padding: 0.5rem 1rem; cursor: pointer"
          class="hover:bg-gray-100"
        >
          {{ item.id }}
          @if (showTitle()) {
            -{{ item.stallTitle }}
          }
        </li>
      }
    </ul>
  }
</div>
