<app-drawer-on-mobile>
  <div title>
    <div>圖層</div>
  </div>
  <div class="flex flex-col gap-2">
    <!-- 攤位 -->
    <app-stalls-layer></app-stalls-layer>

    <!-- 場內 only -->
    <app-only-area></app-only-area>

    <!-- 書籤 -->
    <div class="w-full flex items-center gap-2">
      <input
        type="checkbox"
        [checked]="showMarkedListLayer()"
        (change)="toggleLayer()"
        class="h-4 w-4 rounded mr-2 accent-purple-800"
      />
      <button
        class="w-full flex justify-between items-center text-left font-semibold text-gray-700"
      >
        <span>書籤</span>
      </button>
    </div>
  </div>
</app-drawer-on-mobile>
