<p-drawer
  [(visible)]="visible"
  position="bottom"
  styleClass="!transition-all duration-100 !shadow-[0_-1px_5px_rgba(0,0,0,0.1)]"
  [modal]="false"
  [style]="{ height: drawerHeight + 'px' }"
>
  <ng-template #header>
    <div class="w-full">
      <div class="relative flex justify-center h-0">
        <div
          class="relative absolute w-1/5 h-[6px] top-[-10px] left-[12px] rounded-full bg-gray-300 m-1"
        >
          <div
            class="flex items-center absolute top-0 left-0 w-full h-full"
            cdkDrag
            cdkDragLockAxis="y"
            (cdkDragStarted)="onDragStart($event)"
            (cdkDragMoved)="onDrag($event)"
            (cdkDragEnded)="onDragEnd($event)"
          ></div>
        </div>
      </div>

      <div>圖層</div>
    </div>
  </ng-template>
  <div class="flex flex-col gap-2">
    <!-- 攤位 -->
    <app-stalls-layer></app-stalls-layer>

    <!-- 場內 only -->
    <app-only-area></app-only-area>

    <!-- 書籤 -->
    <div class="w-full flex items-center gap-2">
      <input
        type="checkbox"
        [checked]="showMarkedListLayer()"
        (change)="toggleLayer()"
        class="h-4 w-4 rounded mr-2 accent-purple-800"
      />
      <button
        class="w-full flex justify-between items-center text-left font-semibold text-gray-700"
      >
        <span>書籤</span>
      </button>
    </div>
  </div>
</p-drawer>
