<ion-modal
  #modal
  trigger="user-modal-trigger"
  [enterAnimation]="enterAnimation"
  [leaveAnimation]="leaveAnimation"
>
  <ng-template>
    <ion-content>
      <div class="flex w-full justify-end px-1">
        <ion-button
          class="ml-auto"
          aria-label="Back"
          fill="outline"
          shape="round"
          (click)="modal.dismiss()"
        >
          <ion-icon slot="icon-only" name="close" aria-hidden="true"></ion-icon>
        </ion-button>
      </div>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Connor Smith</h2>
            <p>Sales Rep</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Daniel Smith</h2>
            <p>Product Designer</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://i.pravatar.cc/300?u=d"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Greg Smith</h2>
            <p>Director of Operations</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://i.pravatar.cc/300?u=e"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Zoey Smith</h2>
            <p>CEO</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-buttons class="flex flex-row justify-between">
          <ion-button class="w-1/3">刪除</ion-button>
          <ion-button class="w-1/3">編輯</ion-button>
          <ion-button class="w-1/3"> 登出 </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
