:host {
  ion-item {
    --min-height: 2rem;
  }
  ::ng-deep {
    ion-searchbar {
      .searchbar-input.sc-ion-searchbar-md {
        -webkit-padding-end: 0.8rem;
        padding-inline-end: 0.8rem;
      }
    }
  }
}
