.bookmark-btn {
  position: absolute;
  top: -5px;
  left: 5px;

  border: none;
  cursor: pointer;
  outline: none;
}

.bookmark-btn.active mat-icon {
  color: purple;
  transform: scale(1.2);
  transition:
    color 0.3s,
    transform 0.2s;
}
