<div class="flex flex-col h-full">
  <!-- header -->
  <app-stall-side-header
    [isPreview]="isPreview()"
    [previewStall]="previewStall()"
    (close)="closeModal()"
  >
    <app-edit-btn editBtn> </app-edit-btn>
  </app-stall-side-header>

  <!-- content -->

  <div class="flex-grow min-h-0 overflow-hidden">
    <p-scrollpanel [style]="{ width: '100%', height: '100%' }">
      <app-stall-side-content
        [isPreview]="isPreview()"
        [previewStall]="previewStall()"
      ></app-stall-side-content>
    </p-scrollpanel>
  </div>
</div>
