<!-- Floating Controls Panel -->
<div
  class="absolute top-0 left-0 h-full bg-white bg-opacity-90 backdrop-blur-sm z-20 w-80 py-4 pl-4 pr-2 transform transition-transform duration-300 ease-in-out flex flex-col"
  [class.-translate-x-full]="!showControls()"
  [class.shadow-2xl]="showControls()"
>
  <div class="overflow-y-auto flex-grow flex flex-col p-1">
    <!-- Tag Filters Section -->
    <app-search-and-filter></app-search-and-filter>

    <p-divider></p-divider>
    <!-- Layer Controls Section -->
    <div class="flex flex-col">
      <!-- 攤位 -->
      <!-- <app-stalls-layer></app-stalls-layer> -->

      <!-- 場內 only -->
      <app-only-area></app-only-area>

      <!-- 已標記 -->
      @if (isLogin()) {
        <p-divider></p-divider>
        <app-marked-layer></app-marked-layer>
      }
    </div>
  </div>
</div>
