:host ::ng-deep {
  --p-accordion-header-padding: 0rem 0.25rem 0rem 0;
  --p-accordion-header-font-weight: 400;
  --p-accordion-panel-border-width: 0px;
  --p-accordion-content-padding: 0 1rem 0.5rem 0;
  --p-button-label-font-weight: 400;
}
