<div
  class="absolute top-0 left-0 h-full bg-white dark:bg-zinc-800 bg-opacity-90 backdrop-blur-sm z-20 w-80 lg:w-96 pt-3 pb-4 px-2 transform transition-transform duration-300 ease-in-out flex flex-col"
  [class.-translate-x-full]="!showControls()"
  [class.shadow-2xl]="showControls()"
>
  <div class="flex flex-col h-full">
    <div class="px-2 pb-3 flex items-center">
      <div class="flex gap-1 items-center">
        <div class="">書籤列表</div>

        <div class="flex items-center h-[16px]">
          <p-toggleswitch [(ngModel)]="checked" (change)="toggleLayer()" />
        </div>
      </div>
      <div class="ml-auto">
        <p-button
          icon="pi pi-times"
          size="small"
          [rounded]="true"
          [text]="true"
          (click)="close()"
        ></p-button>
      </div>
    </div>
    <div class="flex flex-col flex-grow overflow-y-auto h-full gap-2 px-2">
      <app-create-marked-list-btn> </app-create-marked-list-btn>

      <div>
        <app-bookmark-list> </app-bookmark-list>
      </div>
    </div>
  </div>
</div>
