// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
  @include mat.dialog-overrides(
    (
      container-elevation-shadow: var(--shadow-xl),
      container-shape: 12px,
    )
  );
  @include mat.sidenav-overrides(
    (
      container-width: 30vw,
      container-background-color: white,
    )
  );
  .mat-mdc-dialog-content {
    max-height: fit-content;
  }
  .mat-drawer.mat-sidenav {
    overflow: visible;
  }
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */
@import url('./styles/base.css');
@import url('./styles/map.css');
@import url('./styles/magnifier.css');
@import url('./styles/modal.css');
@import url('./styles/responsive.css');

@import 'tailwindcss';

.hidden {
  display: none !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.fade-in {
  /* 進場的最終樣式 + 過渡設定 */
  @starting-style {
    opacity: 0;
  }
  transition: opacity 300ms ease-out;
  opacity: 1;
}
.fade-out {
  transition: opacity 300ms ease-in;
  opacity: 0;
}
